.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

li {
  cursor: pointer;
}

input {
  height: 30px;
  border-radius: 3px;
  border: solid 1px darkgray;
  font-size: 16px;
}

button {
  height: 34px;
  background-color: #09d3ac;
  border: solid 1px #09d3ac;
  border-radius: 3px;
  color: white;
  margin-left: 5px;
}
